/* Estilo geral */
body {
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
}

/* Estilo do card */
.card {
    border: 1px solid hsl(129, 77%, 76%); /* Laranja vibrante */
    transition: transform 0.3s ease;
}

.card:hover {
    transform: scale(1.05);
}

/* Botões */
.btn-success {
    background-color: #28a745;
    border-color: #28a745;
}

.btn-success:hover {
    background-color: #218838;
    border-color: #218838;
}

/* Títulos */
.card-title {
    font-size: 1.5rem;
    font-weight: bold;
}

/* Texto */
.card-text {
    font-size: 1rem;
}

/* Estilo para a imagem dentro do card */
.card img {
    width: 100%; /* A imagem ocupa 100% da largura do card */
    height: auto; /* Mantém a proporção da imagem */
    max-height: 100%; /* Evita que a imagem exceda a altura do card */
    object-fit: contain; /* Ajusta a imagem para caber no card sem cortar */
}    